img {
    width: 300px;
    height: 300px;
}

h1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: 100px;
}

.container {
    /* activate flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}