/* selector{
    property:value;
} */


/* * has lowest specifity */

* {
    text-align: center;
}

body {
    background-color: burlywood;
    background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
    /* it will fit the image according to the screen size */
    background-size: cover;
}

.heading:hover {
    color: red;
    /*in hex: #AA4139 */
    text-align: center;
    background-color: black;
    /* set the border of the class heading content */
    border: 7px solid purple;
    /* we can give our custom RGB color also, the 4th parameter decides the opacity*/
    border: 7px solid rgba(255, 135, 180, 0.5);
    /* view of content displayed in this class */
    font-size: 60px;
    font-weight: bold;
    opacity: 0.95;
    /* changes the view of curson on the content enclosed by heading class */
    cursor: pointer;
}

img {
    float: right;
}

.about {
    color: blue;
    /*Now what happens is that many computers dont have all the fonts, it might be possible that some computers dont have
    the font which you are using hence to make sure that fonts are avaiable we use google fonts */
    font-family: Helvetica;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    /* this will add spacing between lines */
    line-height: 50px;
    border: 9px solid rgb(255, 135, 180)
}

#paragraph {
    color: red !important;
    text-align: center;
}

table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 80%;
}

li {
    cursor: pointer;
    /* removes the dot of list */
    list-style: none;
    /* displays all the list in one line  */
    display: inline-block;
}

.boxmodel {
    border: 7px solid red;
    display: inline-flex;
    padding: 5px 20px 6px 23px;
    margin: 20px 20px;
    width: 30px;
    height: 20px;
}

footer {
    clear: both;
    text-align: center;
    font-size: 20px;
}

span {
    font-size: 5em;
}